2. XMLParsers (JAXB)/data/Poruka.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="korisnik" xmlns:k="korisnik">
    <xs:include schemaLocation="Korisnik.xsd"/>

    <xs:element name="Poruka">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:long"/>
                <xs:element ref="k:Korisnik"/>
                <xs:element ref="k:Korisnik"/>
                <xs:element name="Poruka" type="xs:string"/>
                <xs:element name="Datum_poruke" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
